<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>pre_test</title>
</head>
<body>
    <p>请输入测试环境信息</p>
    <form  action="/search-post" method="post">
       Name:       <input type="text" name="n"><br>
        IP:       <input type="text" name="q"><br>
        Registry:<input type="text" name="r"><br>
        <input type="submit" value="Submit">
    </form>
 <p>{{ rln }}</p>
    <p>{{ rlt }}</p>
    <p>{{ rlk }}</p><br><br>


 <button  onclick="location.href='/'">
        返回首页
    </button>

</body>
</html>