<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QA自动化</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#563d7c;">
        <a class="navbar-brand" href="#">
            <img src="{% static 'logo.png' %}" height="32" class="d-inline-block align-top" alt="">
            Compass 自动化测试平台
        </a>
        <div class="collapse navbar-collapse">
        </div>
    </nav>

    <div class="row mt-2">
        <div class="col-sm-8">
            <div class="shadow-sm p-3 bg-white mb-3 rounded">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <h3>测试环境</h3>
                        <div class="mb-4">
                            <button type="button" data-toggle="modal" data-target="#addNewEnvDialog" class="btn btn-primary mr-2">添加环境</button>
                            <button type="button" class="btn btn-secondary" id="removeEnvBtn">删除环境</button>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">环境名称</th>
                                <th scope="col">IP 地址</th>
                                <th scope="col">仓库地址</th>
                            </tr>
                        </thead>
                        <tbody id="envTable">
                            {% for item in environments %}
                            <tr data-name={{ item.Name }}>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ item.Name}} </td>
                                <td>{{ item.IP}} </td>
                                <td>{{ item.Registry}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <h3>执行测试</h3>
                        <div class="mb-4">
                            <select class="custom-select">
                                <option selected> -- 选择测试环境 -- </option>
                                {% for item in environments %}
                                <option value="1">{{ item.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary mr-3" data-toggle="tooltip" data-placement="bottom" title="执行 Devops 流水线的测试~">Devops 测试</button>
                        <button type="button" class="btn btn-secondary mr-3" data-toggle="tooltip" data-placement="bottom" title="执行镜像仓库相关测试~">镜像仓库测试</button>
                    </div>
                    <div class="container logs">
                        testing logs...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <h3>测试结果</h3>
                        <div class="mb-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addNewEnvDialog" tabindex="-1" role="dialog" aria-labelledby="addNewEnvDialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">添加测试环境</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newEnvForm">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">名称:</label>
                            <input type="text" class="form-control" id="env-name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">IP 地址:</label>
                            <input type="text" class="form-control" id="env-ip" name="ip"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">镜像仓库:</label>
                            <input type="text" class="form-control" id="env-registry" name="registry"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" id="newEnvConfirmBtn" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>